@model CollegeWebsite.Models.DeadlineModel

@{
    ViewBag.Title = "Dates and Deadlines";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<h2>Deadline Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Intake)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intake)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CloseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CloseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistrationDates)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationDates)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "DatesDeadlinesEdit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "DatesDeadlinesList")
</p>
