@model CollegeWebsite.Models.FacultyModel

@{
    ViewBag.Title = "Faculty Details";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<h2>FacultyDetails</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeChat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeChat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "FacultyEdit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "FacultyList")
</p>
