@model IEnumerable<CollegeWebsite.Models.StudentModel>

@{
    ViewBag.Title = "Students";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<h2>Students</h2>

<p>
    @Html.ActionLink("Create New", "StudentCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nationality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Passport)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudyDuration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Major)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudyDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Major)
            </td>
            <td>
                @Html.ActionLink("Edit", "StudentEdit", new { id = item.ID }) |
                @Html.ActionLink("Details", "StudentDetails", new { id = item.ID }) |
                @Html.ActionLink("Delete", "StudentDelete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
