@model CollegeWebsite.Models.StudentUserModel

@{
    ViewBag.Title = "Account Details";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<h2>Account Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit Account", "AccountEdit", new { id = Model.ID }) |
    @Html.ActionLink("Delete Account", "AccountDelete")
</p>
